div#head {
    display: flex;
    background-color: #132030;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 50px;
    border-bottom: 30px solid;
    border-bottom: 10px solid;
    border-image: linear-gradient(to bottom, #132030 97%, var(--bg) 100%) 10;
}

div#head>h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0px 5px 0px #89aec49f;
    font-family: 'ConcertOne';
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

div#head>a {
    margin-top: 10px;
    opacity: 50%;
    transition: opacity 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -webkit-transition: opacity 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -moz-transition: opacity 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -ms-transition: opacity 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

div#head>a:hover {
    opacity: 100%;
}

div#head>a>img {
    width: 30px;
    transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -webkit-transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -moz-transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -ms-transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -o-transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

div#head>a>img:hover {
    width: 40px;
}

div.block>h3 {
    letter-spacing: 2px;
}

img:not(.non-cursor) {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

div#presets-container>div.block>a>img {
    width: 200px;
    border-radius: 20px;
    transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -webkit-transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -moz-transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -ms-transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -o-transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

div#presets-container>div.block:hover>a>img {
    width: 250px;
}

div#wallpapers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div#presets-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

div#wallpapers-container>div.block>img {
    height: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: height 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -webkit-transition: height 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -moz-transition: height 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -ms-transition: height 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    -o-transition: height 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

div#wallpapers-container>div.block:hover>img {
    height: 250px;
}